<!DOCTYPE html>

<html ng-app="myApp">
<head>
<title></title>
<script type="text/javascript" src="controllers/ng-click/angular.js"></script>
<!--<script type="text/javascript" src="controllers/ng-click/app.js"></script>
<script type="text/javascript" src="controllers/ng-click/script.js"></script>-->
<script>
	var myApp = angular.module('myApp',[]);

		myApp.controller('appController',function($scope){
			$scope.firstName = '';
			$scope.lastName = '';
			$scope.setName = function($fName,$lName){
		    	    $scope.firstName = $fName;
		            $scope.lastName = $lName; 
			}
		});
		function randomFunction(){
		   alert('Hello (from outside of Angular) World');
		}
		function randomFunction2(e1){
		    var $scope = angular.element(e1).scope();
		    $scope.firstName = "John";
		    $scope.lastName = "Doe";
		    $scope.$apply();
		}
</script>

</head>
<body>

	<div ng-controller="appController">
		<p>In scope</p>
                <p>{{firstName}}</p>
		<p>{{lastName}}</p>

		<p><a href="#" ng-click="setName('John','Doe')">Set Name</a></p>
		<p><a href="#" onclick="randomFunction()">Call random function</a></p>
		<p><a href="#" onclick="randomFunction2(this)">Call from 2nd random function</a></p>
	</div>

	<p>Out of Scope</p>
	<p><a href="#" ng-click="setName('John','Doe')">Set Name</a></p>
	<p><a href="#" onclick="randomFunction()">Call random function</a></p>	
	<p><a href="#" onclick="randomFunction2(this)">Call  from 2nd random function</a></p>

</body>
</html>
