<!DOCTYPE html>

<html ng-app="myApp">
<head>
<title></title>
<script type="text/javascript" src="controllers/Working With User Input/angular.js"></script>
<script type="text/javascript" src="controllers/Working With User Input/app.js"></script>
</head>
<body>

	<div ng-controller="appController">
		<p>First Name: {{model.firstName}}</p>
		<p>Last Name: {{model.lastName}}</p>

		<p>Enter your first name</p>
		<input ng-model="model.firstName" type='text' name='firstName'/>

		<p>Enter your last name</p>
		<input  ng-model="model.lastName" type='text' name='lastName'/>
	</div>

</body>
</html>